@import "../colors.scss";
.menu {
  height: 100%;
  text-align: center;
  display: none;
}
.menu-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0;
}

.food-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 20px;
}

.card {
  border: 1px solid $tertiary;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.image-container {
  padding: 20px;
  height: 200px;
}
